$main: 				#fff;
$main--light: 		#F6F6F6;
$main--light-darker: darken($main--light, 20%);
$main--dark: 		#10352d;

$aux: 				#0A92A5;
$aux-darker:		darken($aux, 20%);
$aux-dark: rgba(10, 162, 180, 0.67);
$aux-light: 		rgba(10, 146, 145, 0.5);

$accent: 			rgba(11, 186, 209, 0.78);
$accent-light: 		lighten($accent, 10%);
$accent-dark: 		darken($accent, 20%);
$accent-vivid: 		lighten($accent, 30%);

$header-color: 		rgba(59, 128, 131, 0.96);
$bg-color: 			#b4b0a1;
$bg-color-light: 		lighten($bg-color, 30%);


//$desktop-width: 400px;
$sm-width: 		250px;

@font-face {
	font-family: 'Scriptina';
	font-display: swap;
	src: url('./../fonts/SCRIPTIN.ttf') format('truetype');
}

@font-face {
	font-family: 'GloberBook';
	font-display: swap;
	src: url('./../fonts/GloberBook.otf');
}

@font-face {
	font-family: 'GloberRegular';
	font-display: swap;
	src: url('./../fonts/GloberRegular.otf');
}

@font-face {
	font-family: 'Koliko';
	font-display: swap;
	src: url('./../fonts/koliko-Regular.ttf');
}

@font-face {
	font-family: 'David';
	font-display: swap;
	src: url('./../fonts/DavidLibre-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Think';
	font-display: swap;
	src: url('./../fonts/Think.ttf') format('truetype');
}

@font-face {
	font-family: 'Mrs';
	font-display: swap;
	src: url('./../fonts/Mrs.ttf') format('truetype');
}

@font-face {
	font-family: 'Rene';
	font-display: swap;
	src: url('./../fonts/Rene.otf');
}

$font-main:		'David', Helvetica, Arial, sans-serif;
//$font-secondary:  'Scriptina', Helvetica, Arial, sans-serif;
$font-secondary:  'Rene', Helvetica, Arial, sans-serif;
$font-third:      'GloberBook', Helvetica, Arial, sans-serif;


$baseSize: 			16;
$whitespace:		30px;

// Mixins
@mixin makeRem($fontInPx) {
	font-size: ($fontInPx / $baseSize)+rem;
}
@mixin animate{
	transition: .2s ease-in;
}

// Extends
%absCenter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

