.workspace {
  height: 100vh;
  padding: 0;
  display: flex;

  &-light {
    background-color: $bg-color;
    height: calc(100vh - 100px);
    margin-top: 100px;
    padding-top: 20px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }

  &__block {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in-out;
    overflow: hidden;
    z-index: 10000;

    &.mono-block {
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0%);
        transition: all .4s ease-in-out;
      }
    }

    @media (max-width: 1025px) {
      filter: grayscale(0%) !important;
      width: 100%;
      min-height: 50vh;
      .arrow-move {
        &.arrow__left {
          -webkit-animation: linear infinite;
          -webkit-animation-name: move-left;
          -webkit-animation-duration: 2.3s;
        }

        &.arrow__right {
          -webkit-animation: linear infinite;
          -webkit-animation-name: move-right;
          -webkit-animation-duration: 2.3s;
        }
      }
      &.with-click{
        .click {
          display: block;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          color: white;
          font-size: 17px;
          padding-top: 5px;
          letter-spacing: 1px;

          -webkit-animation: linear infinite;
          -webkit-animation-name: click;
          -webkit-animation-duration: 2.3s;
        }
      }
    }

    &-left {
      background: url(../img/weselne.jpg) no-repeat center center;
      background-size: cover;

      .click{
        right: 5px;
      }

      &:hover {
        .arrow__left {
          -webkit-animation: linear infinite;
          -webkit-animation-name: move-left;
          -webkit-animation-duration: 2s;
        }
      }
    }

    &-right {
      background: url(../img/rurka2.jpg) no-repeat center center;
      background-size: cover;

      .click{
        left: 5px;
      }

      &:hover {
        .arrow__right {
          -webkit-animation: linear infinite;
          -webkit-animation-name: move-right;
          -webkit-animation-duration: 2s;
        }
      }
    }

    &__title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -55%);
      line-height: 1.6;
      font-size: 9rem;
      letter-spacing: 2px;
      text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
      color: $main;
      font-family: $font-secondary;
      @include media-breakpoint-down(sm) {
        font-size: 5.5rem;
        letter-spacing: 4px;
      }

      &-line {
        &::before {
          content: '';
          color: #fff;
          z-index: 1000;
          display: block;
          height: 25px;
          width: 2px;
          position: absolute;
          background-color: white;
          top: 58%;
          left: 18%;
          transform: rotate(20deg);
        }

        &::after {
          content: '';
          color: #fff;
          z-index: 1000;
          display: block;
          width: 1px;
          position: absolute;
          height: 8px;
          background-color: white;
          top: 79%;
          right: 46%;
          -webkit-transform: rotate(45deg);
          /* z-index: 10000; */
          transform: rotate(75deg);
        }
      }
    }

    &-contact {
      text-align: center;
      padding-top: 3vw;
      border-right: 1px solid rgba(255, 255, 255, .4);
      cursor: default;

      p {
        margin: 0 auto;
        font-size: 2.5rem;
        line-height: 1.6;
        display: flex;
        flex-direction: column;
        text-shadow: 2px 3px 6px rgba(121, 106, 86, .5);
        max-width: 460px;
        padding: 40px 30px;
      }

      a {
        font-size: 2rem;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        text-decoration: none;
      }

      i {
        margin-right: 5px;
        width: 30px;
        display: block;
        padding-bottom: 5px;
        font-size: 2.5rem;

      }
    }
  }

  &__container {
    display: flex;
    @include media-breakpoint-down(sm) {
      align-items: center;
    }
  }
}

.click {
  opacity: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;
  width: 0;
  height: 0;
  opacity: .4;

  &__left {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid white;
    right: 0;
    left: auto;
  }

  &__right {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid white;
  }
}

@-webkit-keyframes move-left {
  0% {
    right: 0;
    opacity: .4;
  }
  30% {
    right: 0;
    opacity: .3;
  }
  65% {
    right: 15%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: .4;
  }
}

@-webkit-keyframes move-right {
  0% {
    left: 0;
    opacity: .4;
  }
  30% {
    left: 0;
    opacity: .3;
  }
  65% {
    left: 15%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: .4;
  }
}

@-webkit-keyframes click {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  65% {
    opacity: .9;
  }
  100% {
    opacity: 0;
  }
}

