<head>
    <title>Tomasz Gas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="./dist/assets/css/main.min.css">
    <link rel="icon" href="../../dist/assets/img/favicon.png">

    <script src="https://kit.fontawesome.com/241cd5ebad.js"></script>
    <script>app = {}</script>
</head>
